-e git+https://github.com/gut-space/analog-noise-estimator.git#egg=analog-noise-estimator

# The following packages will likely be needed soon. But for the time being, let's
# keep them commented out.

#orbit-predictor
#DateTimeRange
#matplotlib
#typing-extensions
#python-dateutil
